.container {
  overflow-x: auto;
  padding: 0 16px;
  margin: 0 auto;
  min-width: 320px;
  max-width: 375px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 500px;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-bottom: 36px;
}

.table th {
  background-color: #2e2e2e;
  color: white;
  padding: 12px;
  text-transform: uppercase;
}

.table td {
  color: black;
  padding: 12px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.table tr:nth-child(even) td {
  background-color: #e0e0e0;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}
